.user-container {
    padding: 20px;
    font-family: Arial, sans-serif; 
}

.search-bar {
    margin-bottom: 20px; 
}

.search-bar input {
    margin: 10px;
    padding: 10px; 
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.search-bar button {
    padding: 20px 15px; 
    background-color: black;
    color: white;
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s; 
}

.search-bar button:hover {
    background-color: #45a049; 
}

.room-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; 
}

.room-table th, .room-table td {
    border: 1px solid #ddd;
    padding: 10px; 
    text-align: left; 
}

.room-table th {
    background-color: #f2f2f2; 
}

.room-table tr:nth-child(even) {
    background-color: #f9f9f9; 
}

.room-table tr:hover {
    background-color: #f1f1f1; 
}

.booking-container {
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px; 
}

.booking-button {
    padding: 10px 15px;
    background-color: #007bff; 
    color: white;
    border: none;
    border-radius: 4px; 
    cursor: pointer; 
    transition: background-color 0.3s;
}

.booking-button:hover {
    background-color: #0056b3; 
}
